.App {
  text-align: center;
  background-color: #224242;
  color: white;
}

.App-header {
  background-color: #224242;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #a3c827;
}
